[2017-03-13 21:26] mgechev opened #1 "Color scheme"
The current color scheme is not the best ever. Suggestions for node background/border + edges color will be appreciated!

For anyone interested in opening a PR, here's [the color map](https://github.com/mgechev/ngrev/blob/master/src/ui/components/visualizer/color-map.ts).

[2017-03-13 22:03] #1 closed

[2017-03-13 22:04] mgechev opened #2 "Add pipes"
The exported and declared pipes need to be visualized. There should also exist a `PipeState` which visualize the dependencies of given pipe.

[2017-03-13 22:04] mgechev opened #3 "Show the dependencies of directives"
Get the dependencies of given directive and visualize them in the `DirectiveState`.

[2017-03-13 22:05] mgechev opened #4 "Distribution of the app"
Create binaries for:

- [x] macOS
- [ ] linux
- [ ] windows

[2017-03-13 22:19] mgechev opened #5 "Do not handle state changes for already active state"
This messes up the back button.

[2017-03-15 19:23] mgechev commented on #2
Fixed by https://github.com/mgechev/ngrev/commit/298cd8f13b6fb448c1db3fac7730024b5a499e88.

[2017-03-15 19:23] #2 closed

[2017-03-15 19:24] mgechev commented on #3
Fixed by https://github.com/mgechev/ngrev/commit/7194efe031b5522066e27ead141608de8a7e01c1.

[2017-03-15 19:24] #3 closed

[2017-03-15 19:24] #5 closed

[2017-03-16 18:27] tomasro27 opened #6 "ERR_FILE_NOT_FOUND from app.html"
getting a ERR_FILE_NOT_FOUND
../ngrev/app/helpers/external_links.js
../ngrev/app/helpers/context_menu.js

[2017-03-16 18:39] tomasro27 opened #7 "Unexpected value 'null' declared by the module .... in .. at syntax error"
A javascript error ocurred inthe main process
Unexpected value 'null' declared by the module .... in ..  at syntax error

When trying to open a project folder

[2017-03-16 18:42] mgechev commented on #7
Would you share the entire stack trace?

[2017-03-16 23:25] tomasro27 commented on #7
https://cloud.githubusercontent.com/assets/4178358/24022677/2e7c7a5a-0a65-11e7-98a0-a9e8115b0104.PNG

[2017-03-16 23:26] mgechev commented on #7
Can you compile your application using the Angular AoT compiler? If it's not compatible with it then ngrev won't be able to parse it.

[2017-03-16 23:50] tomasro27 commented on #7
This might be why then. I will try later, but you can close the issue for now.  It might be a good idea to put this on the readme, so that others know they need aot for the tool to work.
thanks!

[2017-03-16 23:50] tomasro27 commented on #7
It did work with a smaller project btw

[2017-03-16 23:51] mgechev commented on #7
I updated the project (version 0.0.1) with a better error message which explains this. You can try the latest version which has 3 small features included.

[2017-03-16 23:51] #7 closed

[2017-03-16 23:52] mgechev commented on #6
Fixed in 0.0.1.

[2017-03-16 23:52] #6 closed

[2017-03-16 23:54] tomasro27 commented on #7
Sounds good, thanks!
Side question:
Do you need to specify the root of the angular project for it to work, or can you select any subfolder?

[2017-03-17 00:22] mgechev commented on #7
You should select a `tsconfig.json` which points to the root module. It may work with lazy-loaded module as well but it hasn't been tested.

[2017-04-05 19:18] niklas-dahl commented on #4
also some usage information in the readme would be useful :)

[2017-04-07 22:02] owenmecham commented on #4
A windows binary would be great for those of us tied to windows ;) The demo was awesome at ngconf.

[2017-04-07 22:06] mgechev commented on #4
Would love to get a PR if anyone has time for this. I don't have windows atm.

[2017-04-07 22:24] mgechev commented on #4
Just updated the readme with [further instructions](https://github.com/mgechev/ngrev).

[2017-04-10 18:57] mgechev opened #8 "Cmd/Ctrl+P"
Allow quick focus on symbol by using fuzzy search.

[2017-04-10 18:59] mgechev opened #9 "Fishbone navigation"
Allow navigation to previous (parent) symbols by providing a hierarchical structure:

[code]

The user should be able to navigate directly by clicking on top of any of the symbols above.

[2017-04-11 01:13] mgechev commented on #4
https://github.com/mgechev/ngrev/commits/master

[2017-04-11 01:13] #4 closed

[2017-04-11 14:49] jasedwards opened #10 "folder picker instead of file picker"
Apologies if I am doing something dumb.  I just installed latest windows version.  when I click select project a folder picker comes up instead of file picker so that I am not actually able to select a tsconfig file.  I am on Windows 7

[2017-04-11 16:21] mgechev commented on #10
Yes, it's ok. ngast will automatically discover the `tsconfig.json` file. Do you experience issues in your project being rendered?

[2017-04-11 16:31] jasedwards commented on #10
yeah, it immediately has (Not Responding) along the top and I have to end process.

[2017-04-11 16:32] mgechev commented on #10
It should be: `[YOUR_CLI_APP]/src/tsconfig.app.json`

[2017-04-11 16:34] jasedwards commented on #10
ah.  duh.  I even read that twice on the read me file.  that got it working.  Thanks.

[2017-04-11 16:35] mgechev commented on #10
No worries. I'll change it to file picker in 10 mins.

[2017-04-11 16:37] mgechev commented on #10
https://github.com/mgechev/ngrev/commit/4ee2d2349e9116714f5f81d74b0bb7c1cd5227c2

[2017-04-11 16:37] #10 closed

[2017-04-11 16:40] mgechev commented on #10
https://github.com/mgechev/ngrev/releases/tag/0.0.4

[2017-04-24 07:38] kyranjamie opened #11 "Subset of modules appearing in the visulisation"
### Issue

Only 3 module boxes are rendering, where app has many more modules than this.  Haven't had time to investigate further, but will drop here in case it helps.

![image](https://cloud.githubusercontent.com/assets/1618764/25326076/c6910bf8-28ce-11e7-9f14-ed01bb744c9c.png)

Folder structure is as follows. `yy` and `xx` are licensees of a white labelable app, all implementing base modules of

[2017-04-24 15:06] mgechev commented on #11
This is most likely caused by ngast. I'll take a look at the issue, thanks!

[2017-04-24 15:26] mgechev commented on #11
@kyranjamie would you share your tsconfig.json? Also, do you have any of these modules being loaded lazily?

[2017-04-24 15:32] kyranjamie commented on #11
[code]

[2017-04-24 19:22] mgechev commented on #8
Already in master.

[2017-04-24 19:22] #8 closed

[2017-04-24 22:52] mgechev commented on #11
@kyranjamie is it a CLI project? Probably you have lazy loaded modules (`loadChildren`)?

[2017-04-25 01:05] mgechev commented on #11
@kyranjamie reproduced the issue. Most likely your project is compliant with ngc but you still may get warnings for non-exported symbols, for instance. It'll be a good idea ngrev to show such warnings.

I'll output notification by the end of the day.

[2017-04-25 01:34] mgechev commented on #11
Try the current code in master (`npm run build && npm start`). It'll output the error message gotten from the compiler.

[2017-04-25 01:55] mgechev opened #12 "Lazy loaded modules"
The lazy loaded modules should be shown on module level and connected to their parent with a dashed arrow.

[2017-04-25 07:21] kyranjamie commented on #11
No, error from compiler.  The project is using `loadChildren`, but still there is a top level non-lazyloaded AppComponent not displayed.  Who knows 🤷‍♂️

[2017-04-25 15:47] mgechev commented on #11
I'll keep it open. If you can create a minimum demo which will allow me to reproduce the problem it'll be great.

In case anyone is able to reproduce, please comment.

[2017-04-27 00:54] #11 closed

[2017-04-27 19:55] mgechev commented on #11
@kyranjamie FYI, there's support for lazy-loaded modules now https://github.com/mgechev/ngrev/commit/5f5f88c04c3236807e4f4c4b6fcb397e7d98fe5c. It's not released yet, so you can only try it with:

[code]

[2017-04-28 15:37] darronj opened #13 "Error Parsing CLI Project"
I get the following when trying to open my angular-cli project. It builds with the --aot flag with no errors

I'm using ngrev version 0.0.7

Error while parsing project
Cannot parse your project. Make sure it's compatible with the Angular's AoT compiler. Error during parsing:
Cannot read property 'reference' of undefined

The same result is given when I use the tsconfig.json file in the root, or

[2017-04-28 17:44] mgechev commented on #13
Would you try the latest master (`git clone ... && cd ngrev && npm i && npm run build && npm start`)? I did fixes regarding primitive provider tokens yesterday.

If this doesn't help, I will be able to fix the issue if I can get a minimum demo which will allow me to reproduce it.

[2017-05-01 00:43] #9 closed

[2017-05-01 00:44] mgechev commented on #13
Closing it due to lack of response. @darronj, please comment in case the problem still exists.

[2017-05-01 00:44] #13 closed

[2017-05-01 16:29] darronj commented on #13
Sorry I didn't get back with you on this. I spent a weekend in bed. Evidently my problem was resolved, because it is fixed in the latest version. Thanks for all you do, I'm a huge fan.

[2017-05-10 18:07] MrCroft commented on #12
Not when they're nested.
For example, I have AppModule that includes a DashboardModule.
The DashboardModule, in it's turn, lazy loads a bunch of other modules. And those lazily loaded modules don't show up anywhere in ngrev.

You can notice that with the client app I have here: [https://github.com/MrCroft/ngx-uploader-demo/tree/master/client](https://github.com/MrCroft/ngx-uploader-demo/tree/maste

[2017-05-10 19:53] mgechev commented on #12
@MrCroft just noticed that there's some regression. Thanks for reporting this.

[2017-05-10 19:57] mgechev opened #14 "Direct state transition to module should go to ModuleTree"

[2017-05-10 19:59] #14 closed

[2017-05-10 21:15] mgechev opened #15 "Does not visualize loadChildren in nested children array in summary"

[2017-05-10 21:15] mgechev opened #16 "Does not visualize lazy children with absolute project path"

[2017-05-10 21:16] mgechev commented on #12
The problems are summarized by these issues. Will push a fix in a minute https://github.com/mgechev/ngrev/issues/15 https://github.com/mgechev/ngrev/issues/16.

[2017-05-10 21:16] #12 closed

[2017-05-10 21:17] #15 closed

[2017-05-10 21:17] #16 closed

[2017-05-10 21:32] mgechev commented on #12
In a bit you can download 0.0.9 and try it out.

[2017-05-10 21:36] MrCroft commented on #12
So fast! Thank you. I've just discovered ngrev. I've fallen a bit behind in the Angular world in the last 2 months.

[2017-05-10 22:07] MrCroft commented on #12
It still behaves a bit weird for my app.
It only shows me 3 modules once I double click `DashboardModule`, but none of the lazily loaded ones.
![image](https://cloud.githubusercontent.com/assets/2809154/25923394/0041cb52-35e6-11e7-895a-e459b11a72d0.png)

And these are the dashboard routes, with 4 lazily loaded modules:
[code]

[2017-05-10 22:34] mgechev commented on #12
This is what I see. Could be something Windows specific.
![screen shot 2017-05-10 at 15 33 34](https://cloud.githubusercontent.com/assets/455023/25924145/1226c570-3596-11e7-8fdf-4e83af46012f.png)

[2017-05-10 22:35] mgechev commented on #12
Here's the source code of `DashboardRoutingModule` that I have:

[code]

[2017-05-10 22:47] MrCroft commented on #12
Oh, yeah... That repo is a simplified version of what I have locally (2 less lazy modules).

It must be Windows specific then, because I've also just tested it on that repo and I get the same results, the lazy loaded modules don't show up.

[2017-05-10 22:55] mgechev commented on #12
I don't have a windows vm unfortunately. I'm almost sure that the issue is somewhere [here](https://github.com/mgechev/ngrev/blob/master/src/background/states/module-tree.state.ts#L119-L187).

[2017-05-10 23:04] MrCroft commented on #12
I can at least try and have a look at it tomorrow afternoon, after work, if I can't manage during. It's 2am here.
Although I haven't looked into Electron yet.

[2017-05-10 23:06] mgechev commented on #12
It turns out I have license for Windows 10. I'll see what I can do too :-).

[2017-05-12 01:52] mgechev commented on #12
@MrCroft try:

[code]

Master should be fixed for windows now.

[2017-05-12 03:06] ipassynk opened #17 "Ngrev fails to parse the project"
Here is a link to the project: https://github.com/ipassynk/angular-springboot-jwt

ngrev on mac version 0.0.9

Trying to use ngrev on Mac. The following exception is displayed:
[code]

The project complies with AOT without problem:

[code]

[2017-05-12 04:35] mgechev commented on #17
Thanks for reporting the issue and providing a sample repo! Tomorrow I'll see what's wrong.

[2017-05-12 05:07] mgechev commented on #17
Just tried it. For me it works properly. Did you install the project's dependencies before loading it in ngrev? Also, you can try the current master (`git clone ... && cd ngrev && npm start && npm run build && npm start`), because there was a regression that I just fixed.

[2017-05-12 07:57] MrCroft commented on #12
Thank you, Minko!
Just checked... It works perfectly ! :)

[2017-05-12 19:58] ipassynk commented on #17
Thanks a lot. I found the issue. All my import paths were format "app/..." and the app works but ngrev complained. So I changed all imports

 from

[code]

to

[code]

and it works now. Thanks a lot. I head your presentation this year on ng-conf and it was really the best presentation ever! I am writing a blog on Medium about Angular SpringBoot JWT integration and I wanted to include the Angular a

[2017-05-13 02:18] mgechev commented on #17
@ipassynk would you try the [0.0.10 release](https://github.com/mgechev/ngrev/releases/tag/0.0.10), install the dependencies in the project's directory and tell me if the issue is still reproducible?

I tried to reproduce the problem a couple of times but for me everything works as expected.

[2017-05-13 03:47] ipassynk commented on #17
Still the issue if import are not relative. Changing one import in app.module.ts to:
[code]

 makes ngrev fails with:

[code]

[2017-05-14 17:03] mgechev commented on #17
For me it works with and without `./` prefix for relative paths. I'm not sure what the difference could be - ngrev uses `@angular/compiler@4.1.0` which is the same one used by the project (tried it with 4.0.0 and everything seems to work fine too).

Electron has the following dependencies:

[code]

But in your case, they should be the exact same versions (I believe) since you're using the packaged

[2017-05-15 13:40] ipassynk commented on #17
I will try to reproduce the issue on another Mac today and let you know. Thanks a lot for your help.

[2017-05-21 19:30] #17 closed

[2017-05-21 21:13] mgechev opened #18 "Export to png"
Add export to png of any structural diagram.

[2017-05-21 21:13] #18 closed

[2017-06-23 08:52] nicolasfourcade commented on #13
Hi! Bravo for your job. You made a nice tool to improve Angular apps.
I try too use it on a open-source project mixing TypeScript and Saas files. It will be nice for me if I could have the view your ngrev propose. I post here my message because I got the same problem and I try to fix it by the same way but It fails for each attempt with the same message bellow. Maybe you can help me. Could you exp

[2017-06-23 08:59] nicolasfourcade commented on #13
I use expression "improve Angular apps" but I mean "understand angular app". It's much more realistic. Maybe later i will be able to improve ;-) but first retrieving a full description about the app using your tool will be great.

[2017-06-23 10:49] mgechev commented on #13
I am happy the tool came handy!

[2017-06-23 13:21] nicolasfourcade commented on #13
I'am trying to use it on an open source project grafana and I have always the same error message.

Error while parsing project
Cannot parse your project. Make sure it's compatible with the Angular's AoT compiler. Error during parsing:
Cannot read property 'reference' of undefined

Do you think it is possible to override it ?

[2017-06-24 06:41] mgechev commented on #13
Would you share source code so I can debug?

[2017-06-25 21:46] gviligvili opened #19 "[Feature request] Finding Circular Dependency."
Angular circular dependency is a nightmare, especially in big projects.
you can find yourself (or team mates) using @forwardRef, just because it seems right at the time.

This tool seems like a solid ground for targeting Circular dependency, any I could not find any other tools that solve it.  - so it would be great if you will add this feature :)

Thanks.

[2017-06-26 08:47] nicolasfourcade commented on #13
I am working with an open source project my boss gave me : https://github.com/grafana/grafana.
Backend in nodejs and front end in angularjs. You should find the tsconfig.json. Maybe too much file and some file not in angular but in typescript block your app. Do you think it's possible ?

[2017-06-26 10:49] mgechev commented on #13
@nicolasfourcade this looks like an AngularJS (1.x) project, not Angular.

ngrev works only with Angular 2 and above, and AoT compilation compatible applications.

[2017-06-26 19:51] nicolasfourcade commented on #13
That's why! My bad!It doesn't looks like obvious for me at that moment....

[2017-06-27 09:09] altschuler opened #20 "CLI project not parsed"
I'm trying to parse a CLI project, but end up with this screen https://i.imgur.com/mKq5YYM.png

I see the modules being listed in the output, so it's finding something. Last few lines of output is this:

[code]

Very exciting project :)

[2017-06-27 09:40] mgechev commented on #20
I see only part of the screen on this screenshot. Would you share the entire window?

[2017-06-27 09:44] altschuler commented on #20
Sorry, should have clarified. That's the entire content of the window, rest is just white. Clicking the green box does nothing.

[2017-06-27 10:37] mgechev commented on #20
If you can share source code so I can try debugging the project it'll great.

[2017-06-27 11:22] altschuler commented on #20
Sorry I can't really do that. I can answer any question or clarify/elaborate on architecture, but I can't send you all the code :/

[2017-06-27 11:35] mgechev commented on #20
Yes, sharing proprietary code won't be a good idea :-).

The architecture does not matter for the source code visualization. It'll be helpful if you can provide a sample project that I can test the tool against. Doesn't have to be your original project.

[2017-06-27 12:18] altschuler commented on #20
Roger, I'll try to make something reproducible I can share with you. Thank you very much for the quick response and effort! :-)

[2017-06-27 12:40] mgechev commented on #20
Thanks, this will be helpful!

[2017-09-14 15:08] altschuler commented on #20
I never got any further with this, but realized that I've got quite a few circular dependencies. Might that be the issue?

[2017-09-14 17:45] mgechev commented on #20
I'm handling circular dependencies to some extent but it's possible.

[2017-10-26 13:09] bluEEil opened #21 "Cant parse project when providing a service using a token and useFactory"
I started working with ngrev today.
I think its a neat tool which is very important for the angular echo systems.
One issue that I found is that when I try to parse my project as is. I get an error about not allowing to use function. It always occured for all instance in my code where I tried to provide a token with useFactory, heres an example (I can't post the project that i'm working on specifi

[2017-10-26 13:11] bluEEil opened #22 "Project parsing errors contains line and column but NOT file name"
As the title states, when ever I get an exception about ngrev not being able to parse my project, the exception has good information in it about the exception and the line number and column, but it says it always occurs in original.ts (or something like that).

This makes it much harder to find the exceptions origin in big project, and adding the real file names to it will make it much better in m

[2017-10-26 16:38] mgechev commented on #21
Thanks for giving it a try!

The problem is in the arrow function, you cannot use them in provider declaration because the context is not statically inferable.

As I've mentioned in the readme, the project needs to be compatible with the AoT compilation of the framework.

[2017-10-26 16:38] #21 closed

[2017-10-26 16:47] bluEEil commented on #21
If thats the case, could you give me some direction in how I should write such code to make it work without arrow functions? I tried doing something like moving the function into an exported function in the same file, but I still got the error.
It doesn't make much sense if there is no simple way to provide with useFactory and use AoT in the same time right?

[2017-10-26 17:13] mgechev commented on #21
You can use traditional function expression:

[code]

[2017-10-26 18:31] bluEEil commented on #21
I see, ill give it a try, thanks :)

[2017-11-08 14:02] chris-hq opened #23 "Angular 5 or CLI 1.5 not supported"
command lines run:
ng new testingtester

( ... Project is created, dependancies downloaded .. )

cd testingtester
ng -v

[code]

Open ngrev.
Click on Select Project and select testingtester/src/tsconfig.app.json.

[2017-11-13 15:00] MainaWycliffe commented on #23
Same issue here

[2017-11-13 16:38] bobKasbi commented on #20
Any news about this issue? I'am facing the same. Thanks!

[2017-11-13 17:10] altschuler commented on #20
@bobKasbi do you have any circular dependencies in your project? The CLI will warn against it if you didn't explicitly disable it.

[2017-11-14 10:23] bobKasbi commented on #20
@altschuler: no, I don't.

[2017-11-18 21:34] Lindsor opened #24 "Loading indicator"
Maybe you could provide some sort of indication that ngRev is working or loading the app.
I loaded my app and it stayed as a blank page for over half an hour. I ended up just killing it since im not sure if it failed or was just still loading the app (its quite large).

Thanks,

[2017-11-21 10:56] HermenOtter commented on #20
@mgechev I see the same screen as @altschuler. I cannot share my code as well. Do you support Angular 4?

[2017-11-24 23:07] alejandrohn opened #25 "Why only it shows the modules, not shows the components"

[2017-12-21 17:36] mgechev commented on #23
It's in master now. Pushing 0.0.13 today.

[2017-12-21 17:36] #23 closed

[2017-12-21 17:37] mgechev commented on #24
@Lindsor this sounds like a good suggestion! There's loading indicator now as well but it's blocked because of some heavy computations happening in the UI thread.

I'd accept a PR for this feature!

[2017-12-21 17:37] mgechev commented on #22
Sounds like a good idea! Will see what I can do here.

Accepting PR here!

[2017-12-21 21:41] mgechev commented on #25
It shows components when you double click on the module.

[2017-12-21 21:41] #25 closed

[2017-12-21 21:43] mgechev commented on #20
Yes, Angular version 4 is supported by version 0.0.11. Angular v5 is supported by 0.0.13.

Closing the issue because of lack of details which will help me reproduce it.

[2017-12-21 21:43] #20 closed

[2017-12-21 21:45] mgechev commented on #19
This is mostly requirement for a tool for static code analysis. Maybe at some point I can provide integration with codelyzer.

Let's close the issue for now since it's not part of the roadmap.

[2017-12-21 21:45] #19 closed

[2017-12-23 02:03] subramn opened #26 "Error while parsing project"
I am getting the error - Error during parsing and make sure its compatible with Angular AOT Compiler

Function expressions are not supported in decorators. image attached

![image](https://user-images.githubusercontent.com/5430629/34316062-7c1c720a-e75b-11e7-8e5c-5c452cb6e649.png)

[2017-12-23 02:12] mgechev commented on #26
@subramn can you compile your project with `ngc`?

[2017-12-23 02:48] subramn commented on #26
[files.zip](https://github.com/mgechev/ngrev/files/1583810/files.zip)
i am not using the angular cli. i run the following npm command
"build": "webpack --config webpack.config.js",

attached the tsconfig.json ,package.json and webpack.config for your reference in zip file.

[2017-12-23 09:45] mgechev commented on #26
I will take a look and let you know. Thank you so much for the files! :-)

[2017-12-23 11:41] mlc-mlapis opened #27 "Only apps based on Angular CLI supported?"
We have apps compiled by only `ngc` without any problems and then bundled using other tools like `SystemJS Builder`, `Rollup`, `CC`, ... and it looks that it is not possible to open such projects in `ngrev` ... selecting a correct `tsconfig.json` file ... the following error message appears:

![image](https://user-images.githubusercontent.com/5693835/34319298-7fe4ac76-e7de-11e7-9be9-a69d6dd96d91.p

[2017-12-23 12:19] mgechev commented on #27
It's not only Angular CLI apps, if they are compatible with ngc, everything should work.

Would you share minimal project so I can reproduce the issue?

[2017-12-23 12:22] mgechev commented on #26
@subramn config looks good. Do you have a minimal demo I can use to reproduce the problem? Do you use the `userStateReducer` in your application compiled with `ngc`?

[2017-12-23 12:32] mlc-mlapis commented on #27
OK, I'll prepare a simple demo. Let me 2 hours ...

[2017-12-23 12:49] mlc-mlapis commented on #27
Hi Minko, here is the demo project: https://github.com/mlc-mlapis/demo-angular-modal-gallery

It was used to solve some things with custom libs under AOT mode ... and now I just upgraded it to Angular 5.1.2 and RxJS 5.5.6. I also tested it again, if it runs JIT and AOT without problems. But now a bit different error message appeared when I tried to open the project in `ngrev` ... see below ... I a

[2017-12-23 12:50] mgechev commented on #27
Oh, I see. Probably ngast uses your `tsconfig.json` file. Will experiment a bit later.

[2017-12-24 22:15] #26 closed

[2017-12-24 22:15] mgechev commented on #26
Try 0.0.14.

[2017-12-24 23:01] mlc-mlapis commented on #27
@mgechev ... thanks for updated version 0.0.14, I tried it but the problem still pertains ... `Cannot find the root module of your project.`

[2017-12-24 23:30] mgechev commented on #27
Very interesting...Do you have at least 1 module with at least 1 bootstrap component?

[2017-12-24 23:42] mlc-mlapis commented on #27
... sure, you can see in the repository ... the main module is:
[code]

[2017-12-24 23:44] mgechev commented on #27
@mlc-mlapis oh, sorry. Forgot about the link. Let me try to reproduce it :-).

[2017-12-25 00:05] mgechev commented on #27
<img width="1068" alt="screen shot 2017-12-25 at 2 04 26 am" src="https://user-images.githubusercontent.com/455023/34329827-f63ebe68-e917-11e7-9e3b-c04e8ae1e983.png">

Use this `tsconfig.json`:

[code]

[2017-12-25 00:05] #27 closed

[2017-12-25 16:43] mlc-mlapis commented on #27
@mgechev ... hmm, tried many combinations ... and there are my final observation:

1. If `tsconfig.json` contains property `"include": [...]` in `"compilerOptions"` with any content, then opening a project end with an error message:

![image](https://user-images.githubusercontent.com/5693835/34341516-26dc8e02-e999-11e7-8f2e-af02e7a6bb82.png)

2. If `tsconfig.json` contains property `"exclude": [..

[2017-12-25 17:59] mgechev commented on #27
Thanks for the observations! I can embed this in the tool. Until then, we can use this issue as reference.

Happy holidays! :-)

[2017-12-26 14:34] mgechev opened #28 "Do not block the rendering thread while parsing the project"
This will improve the UX by allowing the user to see the loading spinner.

[2017-12-27 14:58] mgechev commented on #28
Improvements introduced by https://github.com/mgechev/ngrev/commit/822fcaefbcc450dbd61469819d5436da87e33392.

[2017-12-27 14:58] #28 closed

[2017-12-27 14:58] mgechev commented on #24
https://github.com/mgechev/ngrev/commit/822fcaefbcc450dbd61469819d5436da87e33392

But you'd need to use master.

[2017-12-27 14:58] #24 closed

[2018-01-13 20:42] OClement opened #29 "Cannot load project - AOT Compatible"
Hi,

wanted to try this app with my project but I'm getting this error:
<img width="532" alt="screen shot 2018-01-13 at 3 36 39 pm" src="https://user-images.githubusercontent.com/814862/34909885-41b2115a-f878-11e7-9e6e-70e9d98f65f0.png">

Project is AOT compatible (buildable through --aot and ngc)

Deps:

[code]

[2018-01-14 07:11] mgechev commented on #29
Would you share your `tsconfig.json`?

[2018-01-14 07:12] mgechev commented on #29
See https://github.com/mgechev/ngrev/issues/27

[2018-01-15 16:09] OClement commented on #29
I've taken a look at #27
Not sure it relates to the issue I'm experiencing, at least based on the error I get
I tried removing/changing the `excludes` properties but it didn't help

**ts-config.json**
[code]

**ts-config.app.json**
[code]

[2018-01-15 23:43] mgechev commented on #29
It will be helpful if you share a minimum example so I can reproduce the issue. Not sure if I can help otherwise :(

[2018-01-15 23:45] OClement commented on #29
Hmm ok
I’ll check if I manage to repel it in a simpler project when I have a « few » minutes

Thanks

[2018-01-18 15:50] OClement commented on #29
@mgechev
Hi there,
Looks like the issue I'm experiencing is tied to the fact I have a lazy loaded module
By removing lazy loading I could load the project properly

Is it something you're supposed to support already?

[2018-01-18 17:35] mgechev commented on #29
Lazy loading modules are supported, here's [an example](https://raw.githubusercontent.com/mgechev/ngrev/master/assets/2.png).

[2018-01-18 18:08] OClement commented on #29
Hmmm interesting

I must have something else in that module causing the issue
Will try to isolate it and report back if/when I find it

[2018-01-19 11:24] skorunka opened #30 "Type <typename> in <path> is part of the declaration of 2 modules..."
Hi, I got this error after loading `tsconfig.app.json`.

![image](https://user-images.githubusercontent.com/218913/35148686-0e186762-fd0b-11e7-95cc-19d15f0c5338.png)

[code]

I don't really think, the module is declared in two modules, it is only declared in CoreModule:

![image](https://user-images.githubusercontent.com/218913/35148719-2f2e45c0-fd0b-11e7-9de2-8fe33ff7e664.png)

Isn't it the probl

[2018-01-19 14:48] mgechev commented on #30
Would you share a small sample app to help me reproduce the issue?

[2018-01-20 20:41] skorunka commented on #30
I will try... will post it here once ready. Thank you.

[2018-01-25 19:50] sonukapoor opened #31 "Parsing error"
I tried to run this in our angular cli project using 5.1.2 and received the following error:

`{"__zone_symbol__currentTask":{"type":"microTask","state":"notScheduled","source":"Promise.then","zone":"angular",
"cancelFn":null,"runCount":0}}`

tsconfig.app.json:

[code]

I am able to compile the project fine with --aot.

[2018-01-25 20:14] mgechev commented on #31
`ngrev` doesn't support `exclude`. What you can do is drop this config option and try again. For more details see https://github.com/mgechev/ngrev/issues/27.

[2018-01-25 20:14] #31 closed

[2018-01-30 00:08] zlaja1983 opened #32 "Unable to parse the project"
![screen shot 2018-01-29 at 7 04 48 pm](https://user-images.githubusercontent.com/7635374/35541193-93063016-0527-11e8-8801-b566c407e0b4.png)

Here is my tsconfig.json

`{
	"extends": "./lib/ic/icTsConfig",
    "include": [
        "**/*.ts"
    ],
    "exclude": [
        "gen",
        "node_modules",
        "lib/dist",
        "lib/node-*",
        "**/*.spec.ts",
        "**/bootstrap_*.ts"

[2018-01-30 00:09] zlaja1983 commented on #32
Also the test-view-module looks like this

`import { AccountCodeService } from 'lib/ic/basl/@angularTestView/account-code.service';
import { CommonModule } from '@angular/common';
import { ReactiveFormsModule } from '@angular/forms';
import { NgModule } from '@angular/core';
import { UpgradeModule } from '@angular/upgrade/static';
import { FormInputsModule } from 'lib/inin/basl/form-inputs/form-in

[2018-01-30 00:18] mgechev commented on #32
You can look at https://github.com/mgechev/ngrev/issues/31 for more details. ngrev doesn't support `include` and `exclude`.

[2018-01-30 00:18] #32 closed

[2018-01-30 16:10] MichalMaM opened #33 "Load project failed for two different route paths that point to same lazy loaded module"
Load project failed for two different route paths that point to same lazy loaded module. Here is example with one route path that point to lazy loaded module https://github.com/MichalMaM/ngx-simple-project/blob/master/src/app/app.routing.ts (it works good), but for two different route paths ngrev throw error (routing source is here https://github.com/MichalMaM/ngx-simple-project/blob/widget/src/ap

[2018-01-30 16:58] mgechev commented on #33
@MichalMaM the fix totally makes sense. Would you open a PR with it? I have a minor style-related comment - would you capitalize the comments and add one space after `//`. Thanks!

[2018-01-31 15:02] #33 closed

[2018-02-02 15:03] MichalMaM commented on #29
@OClement see #33 you may have a similar problem

[2018-02-02 15:28] OClement commented on #29
@MichalMaM Yep that's exactly it, thanks!

Good catch; I guess we can close this

[2018-02-02 15:28] #29 closed

[2018-02-08 17:50] jbgraug commented on #30
Same here... getting this error in latest version 0.17 for mac.
[code]
is it possible to activate dev tools? to be able to give more info?

[2018-02-08 18:38] mgechev commented on #30
ngrev doesn't support the `exclude` and `include` properties of `tsconfig.json`. Try to drop them and see if it works.

[2018-02-08 19:05] paulsperanza commented on #30
I took the following out of tsconfig.app.json.

  ,"exclude": [
    "test.ts",
    "**/*.spec.ts"
  ]

I now get this error:

Cannot parse your project. Make sure it's compatible with the Angular's AoT compiler. Error during parsing:

Type AttachmentCanvasComponent in C:/Projects/MpWebAngCli/src/MpWebAngCli/ClientApp/src/app/canvases/attachment/attachment-canvas.component.ts is part of the declara

[2018-02-09 02:52] mgechev commented on #30
Would you share a minimum demo I can reproduce the issue with?

[2018-02-16 06:42] maku opened #35 "version 0.0.17 exe missing"
There is no windows application for version 0.0.17

[2018-02-22 15:46] riscie commented on #30
I'm having the same issue (on Windows 10). I try to produce a minimal project where this happens because I can not share the one I've tried to use ngrev with.

[2018-02-22 18:46] mgechev commented on #30
@riscie make sure your project's tsconfig doesn't have `exclude` and `include` properties. That's a workaround you can apply for now. At some point, ngrev should start supporting them as well.

[2018-02-23 07:16] riscie commented on #30
@mgechev that does not cut it for me, I get the same error with or without `exclude` / `include' properties.

[2018-02-23 21:11] IbeVanmeenen opened #36 "Template compile error: Function expressions are not supported in decorators"
Though my project is compatible with the Angular's AoT compiler, I get the following parse error:

<img width="532" alt="err" src="https://user-images.githubusercontent.com/673778/36616813-704b9eea-18e5-11e8-8b8e-13161002e14a.png">

Looks like the key error here is: `function expressions that are not supported in the decorators`, in the `app/app.module.ts` file, `line 45`, which has following code

[2018-02-23 23:07] mgechev commented on #36
Do not use arrow function but a regular anonymous functions.

[2018-02-23 23:07] #36 closed

[2018-02-24 10:24] gmarziou opened #37 "Doesn't work with application generated by JHipster"
Hello,

On Windows, there's an error which seems to be due to confusion between `/`and `\`:

This was run against this [project](https://github.com/jhipster/jhipster-sample-app) and works fine on Ubuntu.

![image](https://user-images.githubusercontent.com/361007/36629250-b5b30ad6-1953-11e8-8189-4f43d7ffbcd0.png)

[2018-02-24 16:50] mgechev commented on #37
Would you share your `tsconfig.json` file?

[2018-02-24 17:11] gmarziou commented on #37
Sure, for AOT: https://github.com/jhipster/jhipster-sample-app/blob/master/tsconfig-aot.json

[2018-02-24 17:40] mgechev commented on #37
Perfect, thanks! Will try this when I find some spare time.

[2018-02-24 17:47] mgechev commented on #37
JFYI, this app doesn't work on Mac either. It fails with an error during parsing of the project. Hopefully later this month or in March, I'll be able to take a look at this.

[2018-02-24 17:54] gmarziou commented on #37
Thanks, there's no emergency. I am able to run on Ubuntu though it finds some issues with my tests and AOT, so maybe I should fix them or find a way to exclude tests from being parsed by ngrev.

[2018-02-24 18:12] mgechev commented on #37
This will be very helpful!

[2018-03-02 12:06] augustincalin commented on #30
Actually, reproducing this is quite simple (Windows 10).

ng --version

Angular CLI: 1.6.7
Node: 8.9.4
OS: win32 x64
Angular: 5.2.7
... animations, common, compiler, compiler-cli, core, forms
... http, language-service, platform-browser
... platform-browser-dynamic, router

@angular/cli: 1.6.7
@angular-devkit/build-optimizer: 0.0.42
@angular-devkit/core: 0.0.29
@angular-devkit/schematics: 0.0.52
@

[2018-03-02 18:38] mgechev commented on #30
@augustincalin perfect! Will try to reproduce your steps on Windows in the next few weeks. Not sure if I'll be able to do that by the end of March but will do my best.

[2018-04-06 18:16] sfabriece opened #38 "angular v6 compatibilty?"
Is this application compatible with angular v6?

[2018-04-06 20:17] mgechev commented on #38
Do you get any errors trying to use it with Angular version 6?

[2018-04-10 15:44] timmackey opened #39 "Doesn't work with ASP.NET Zero PhoneBookDemo app"
Cannot parse PhoneBookDemo project, which is compatible with AoT compiler.
![image](https://user-images.githubusercontent.com/16199122/38567558-6205ed70-3c9b-11e8-9a00-125c494924d3.png)

[2018-04-11 15:50] mgechev commented on #39
Should be fixed in `0.0.18`.

[2018-04-11 15:50] #39 closed

[2018-04-11 15:53] mgechev commented on #37
@gmarziou would you try now? Version 0.0.18 updates the compiler.

[2018-04-11 15:53] mgechev commented on #35
You can try 0.0.18 now.

[2018-04-11 15:53] #35 closed

[2018-04-11 15:54] mgechev commented on #30
@augustincalin would you try again?

[2018-04-11 16:07] aaron-bond commented on #30
Hi @mgechev, I had the same issue as @augustincalin before 0.0.18. Now, I get this message:
![image](https://user-images.githubusercontent.com/14099631/38628997-b3e8f924-3daa-11e8-9057-2a1e2db3ced7.png)

I can't share the source, sorry - but I wanted to share the error just in case it was useful to you.

[2018-04-11 16:13] gmarziou commented on #37
Thanks, I'll try tonight or tomorrow

[2018-04-11 18:03] gmarziou commented on #37
It works fine.
I just had to delete tests which were not AOT-ready.
Thanks.

![image](https://user-images.githubusercontent.com/361007/38634598-49d41a00-3dc3-11e8-94b7-3aa9d6002811.png)

[2018-04-11 18:03] #37 closed

[2018-04-11 18:13] mgechev commented on #37
❤️

[2018-04-12 01:37] timmackey commented on #39
Thank you for fixing the parsing error.  However, I cannot see any of my components or methods.  Only modules.

[2018-04-12 02:07] mgechev commented on #39
Is the project open source? If I have the source code, I can do some debugging to figure out where the issue comes from.

[2018-04-14 22:44] timmackey commented on #39
@mgechev,

I attached the project files in two chunks, since this site won't accept large files.
If you want to fire up the entire project, you can find instructions here:
[https://aspnetzero.com/Documents/Getting-Started-Angular](url)

[angular.zip](https://github.com/mgechev/ngrev/files/1911290/angular.zip)

[aspnet-core.zip](https://github.com/mgechev/ngrev/files/1911291/aspnet-core.zip)

[READ

[2018-04-26 13:32] geronimoooooooo opened #41 "choose the path/folder where to install under windows"
Hi,
Is there a way to choose the path/folder in  Windows 10 where to install the application?
I would like to install it under e.g. C:\dev\

The problem is that I have only 1 folder (e.g. C:\dev\) where I am allowed to install software. When I try to install ngrev it trys to install in a folder where it is not allowed to install anything.
Right now I can not install the application.

[2018-05-06 12:26] huskerona commented on #38
I am getting the same error on the Mac version of the tool as @sfabriece is getting on the Windows. However, the projects are not yet on NG v6, but rather 4 and 5.2 respectively. The same error appears.

**Error while parsing project**

The projects are compatible with Angular AOT compiler as this is how it is being tested and deployed.

[2018-05-07 07:09] bnymncoskuner commented on #38
I've tried this with my project as well. I can confirm that it does not work with v0.0.20 & v0.0.21. However, v0.0.19 works just fine.

[2018-05-22 13:19] pinalbhatt commented on #38
I am seeing following  error when loading tsconig.app.json for Angular6  project with multiple apps.

![image](https://user-images.githubusercontent.com/6505848/40364807-2ebd08e6-5da1-11e8-91ad-c2d466a569a0.png)

[2018-05-22 16:15] aaronte commented on #38
Same problem.

![image](https://user-images.githubusercontent.com/5732620/40375487-bf2d8a78-5db9-11e8-9965-76f657dd8729.png)

[2018-06-03 04:19] iammelvin commented on #38
Any updates on this issue?

[2018-06-11 12:39] admir86 commented on #38
same problem...
dependencies:
[code]
![image](https://user-images.githubusercontent.com/36576424/41231899-e7ec921c-6d84-11e8-8394-e74613bf52ca.png)

[2018-06-12 15:46] qtis commented on #31
dropping exclude did not help ;(

[2018-06-13 13:19] momegas commented on #38
Same problem here on Ubuntu:
![screenshot from 2018-06-13 16-18-38](https://user-images.githubusercontent.com/21096981/41353646-818e1a02-6f25-11e8-9ece-861d4aeb6fd7.png)

[2018-07-05 10:48] Aphax opened #42 "Import failed with Angular 5"
Import isn't working on my angular 5 app, says it isn't AoT compatible, but my ng buid --prod command is working fine.
How can I make sure my app is AoT compatible ?
![nggrev error](https://user-images.githubusercontent.com/1375542/42319194-8a743330-8051-11e8-9a68-6f44a080b4d5.PNG)

[2018-08-01 13:35] ruibasecone commented on #38
Somehow I get a:

[code]

OSx + angular 6 project (yes, with a angulartics2 as dependency)

[2018-08-02 06:35] Xapuu commented on #38
Hello guys, I have the same problem, for now you can use 0.0.19 version (at least for my ng6 projects it works).

[2018-08-07 00:10] emulicus commented on #42
Yeah, same error here. Would like to try this tool as well.

[2018-08-07 00:14] mgechev commented on #42
Unfortunately, in the next a couple of weeks, I won't be able to look into these issues. Around mid-September, I should be able to align ngast to the latest changes in the Angular compiler.

It'll be very helpful if you can share sample projects where you can consistently reproduce the issues.

[2018-08-07 00:14] mgechev commented on #38
Unfortunately, in the next a couple of weeks, I won't be able to look into these issues. Around mid-September, I should be able to align ngast to the latest changes in the Angular compiler.

It'll be very helpful if you can share sample projects where you can consistently reproduce the issues.

[2018-08-27 18:09] jinbeomhong commented on #38
Basic application generated by CLI doesn't work too...

What about to make this application being used as a plugin of editor like vscode instead of as a stand-alone program?

[2018-09-12 13:47] xRuhRohx commented on #38
Same issue here

[2018-09-13 12:31] LevapVeeskela commented on #31
I removed exclude, didn't help( Are you possible show to me sample work project or config?

[2018-09-18 08:58] Hasan-git commented on #38
same here

[2018-09-24 14:29] rubigupta commented on #23
Yes I am getting same issue please give answer.

[2018-09-24 14:46] rubigupta commented on #13
I am getting error when select tsconfig.add.json file using ngrev .Please give answer if anyone solved this.

[2018-10-03 11:57] burkeallen commented on #42
I am getting similar results when trying to use against an angular 5 CLI project. AOT compiles successfully.

[2018-10-05 20:32] mgechev commented on #42
Give a try to https://github.com/mgechev/ngrev/releases/tag/0.0.22.

[2018-10-05 20:32] #42 closed

[2018-10-05 20:32] mgechev commented on #38
Try https://github.com/mgechev/ngrev/releases/tag/0.0.22

[2018-10-05 20:32] #38 closed

[2018-10-05 20:37] huskerona opened #43 "Release 0.22 still cannot open the project"
Unlike the previous version, this time there are no error messages from zone. This is what I get:

The project is compatible with AOT because that's the way it is compiled by both `ng server` and `ng build`

Best!

[2018-10-05 20:47] mgechev commented on #43
Would you share a minimal demo so I can reproduce the problem?

Also, give a try to https://github.com/gothinkster/angular-realworld-example-app (after `npm i`) and let me know if it works with your setup.

Thanks for giving it a try!

[2018-10-05 20:53] huskerona commented on #43
Same error. I even created a brand new project without any additional code.

[2018-10-05 20:59] mgechev commented on #43
What's your OS?

[2018-10-05 20:59] huskerona commented on #43
Good news. I downloaded your source code and ran `npm start`. The application opened with Chrome Dev Tools on the side. I loaded my work projects and it worked flawlessly. It opened the project in a second. When I tried to open with the application again (I guess that is the prod build) it failed to open it.

[2018-10-05 20:59] huskerona commented on #43
macOS Mojave

[2018-10-05 20:59] mgechev commented on #43
Perfect. I should be able to test on a machine.

[2018-10-05 21:11] huskerona commented on #43
Minko, if you would be interested I just created a lot by running ngrev from terminal. There are no errors, but you might get the idea where the thing freezes.

Best!

[2018-10-05 21:36] huskerona commented on #43
Minko, from the source code, running `npm run build:mac` created a new executable in `dist/mac`. Running the app from that location and then deploying to `/Applications/` made the application work like a charm. It is loading the project without any problems.

[2018-10-05 21:41] jinbeomhong commented on #43
It doesn't work on macOS High Sierra 10.13.6. I created a new Angular project without editing any code and compile it using `ng build --aot`:

[code]

[2018-10-05 22:42] mgechev commented on #43
@jinbeomhong found the cause. In `/Users/USERNAME/Library/Application Support/ngrev` create `config.json` with content:

[code]

I'll push a fix in a minute.

[2018-10-05 22:44] subramn commented on #43
Same error for me.

[2018-10-05 22:49] mgechev commented on #43
@subramn would you try what I suggested above.

[2018-10-05 22:50] subramn commented on #43
Thanks for the response. i am getting the following error
Error while parsing project

Cannot parse your project. Make sure it's compatible with the Angular's AoT compiler. Error during parsing:

{}

[2018-10-05 22:51] mgechev commented on #43
@subramn what's your OS?

[2018-10-05 22:52] subramn commented on #43
Windows 10

[2018-10-05 22:54] mgechev commented on #43
Okay, the fix for you should be the same as the one I mentioned [above](https://github.com/mgechev/ngrev/issues/43#issuecomment-427517666) but instead of creating `config.json` in `/Users/USERNAME/Library/Application Support/ngrev` you should create it in the corresponding directory for Windows.

Should be inside `%APPDATA%`.

[2018-10-05 22:55] mgechev commented on #43
Creating a new `*.exe`. I'll upload it in a few minutes.

[2018-10-05 22:58] mgechev commented on #43
@subramn would you try again https://github.com/mgechev/ngrev/releases/tag/0.0.22.

[2018-10-05 23:05] subramn commented on #43
Thank you so much. i tried and it works now.

[2018-10-05 23:05] mgechev commented on #43
@xperiments would you create a separate issue if you have a chance to share a minimum demo?

[2018-10-05 23:05] #43 closed

[2018-10-08 12:00] david-bulte opened #44 "Cannot parse (AOT compliant) project due to problem with MatExpansionModule?"
I get a "Cannot parse your project" error with a nonsensical error message: Error during parsing: {}.

When starting the project from source code, I get some more info in the console:

[code]

So maybe an error in angular material? But like I said, my project AOT-compiles. Also when I comment out my usages of MatExpansionModule the problem persists.

[2018-10-09 08:16] t-ricci-molecle opened #45 "[osx] double escaping of paths containing space"
Hi, I opened a project inside a folder containing a space on OSX, and when displaying a component's template it said "ENOENT failed to open {...PATH}/My%252520Dir/..."

[2018-10-09 20:34] mgechev commented on #44
Try 0.0.24. It should be up in a few minutes.

[2018-10-09 20:34] #44 closed

[2018-10-09 20:35] mgechev commented on #44
Fixed by https://github.com/mgechev/ngrev/commit/ea0d1e59eb7231be6d8305b53b321ef6559e80cd.

[2018-10-11 05:41] oocx opened #46 "doesn't work well with large projects"
The idea for your tool is great, but it does not work well with large projects. The output is just a huge unreadable ball of lines and boxes (makes our architecture look much worse than it actually is :) ).

We have 159 modules, 351 components, 283 services, 210 data model files, and 28 pipes. For such a large application, we could really use a tool that helps us analyse the application structure.

[2018-10-11 05:51] mgechev commented on #46
Thanks for giving it a try!

Vis.js allows a custom layout. If you're interested in contributing, I'd love to merge a PR with an improvement. For an inspiration, you can look at Graphviz.

[2018-10-11 18:30] mgechev commented on #46
Just did [this](https://github.com/mgechev/ngrev/commit/872a31633a435007937771ec7e029831222138b4) minor improvement in "Application View". I hope it works better.

In case you have ideas for further improvement, feel free to introduce a more appropriate layout or share ideas on how we can make it better.

[2018-10-11 18:30] #46 closed

[2018-10-11 19:18] oocx commented on #46
Great, thanks for the quick response! I'll try your changes next week when I'm back at work.

[2018-10-18 08:58] istiti opened #47 "big project screenshot and resume infos"
this is view on relatively big project (+1000) files

![image](https://user-images.githubusercontent.com/2789203/47142952-5d90e500-d2c4-11e8-9229-de1d49c46430.png)

I find it "not analyable" or it mean project is not correctly structured ^^

A feature request from me woul be: infos near legend to resume number of modules  or lazymodule or component in projects?

thank you

[2018-10-24 00:49] subramn opened #48 "Portable version"
Hi is there a portable version which we can use

[2018-10-24 01:55] mgechev commented on #48
No, there's no such version.

[2018-10-24 01:55] #48 closed

[2018-10-24 01:55] mgechev commented on #45
If you have a moment, I'd love to merge a PR with a fix.

[2018-10-24 01:56] mgechev commented on #47
Thanks for giving the project a try! If your availability allows it, I'd be happy to discuss the proposed feature with you and merge a PR implementing it.

[2018-12-28 07:29] splincode opened #49 "Error while parsing project"
![image](https://user-images.githubusercontent.com/12021443/50506720-4bcd7a00-0a8b-11e9-89f7-0ee4ff7b76b2.png)

[code]

[2019-01-10 07:37] cwayfinder commented on #49
I faced the same issue. I suspect this is related to custom  `"baseUrl": "src"` in `tsconfig.json`

[2019-01-10 17:54] mgechev commented on #49
@cwayfinder did you resolve the issue after updating `baseeUrl`?

[2019-01-11 07:10] sheikalthaf opened #50 "Facing the compilation error with tsconfig path"
compilation failed when i have declared the tsconfig paths

[2019-01-30 10:21] cwayfinder commented on #49
@mgechev yes

[2019-03-07 13:49] bampakoa opened #51 "VSCode extension version"
Hi,

Thanks very much for this awesome tool! Are there any plans to release it as a VSCode extension also? It should be really handy, especially for newcomers in a project, to take a quick look at the structure while navigating the code.

Thanks!

[2019-03-07 18:17] mgechev commented on #51
It'd not have the bandwidth for that. I'd love to reference an extension if anyone is planning to implement it.

[2019-03-07 21:19] bampakoa commented on #51
@mgechev Could you please clarify what do you mean?

[2019-03-07 21:26] mgechev commented on #51
I would not have the time to implement a VSCode plugin for ngrev, but I agree this is a fantastic feature that you suggested.

If you think you'd be able to introduce VSCode plugin in this repo, I'd love to reopen the issue so we can track the progress. Also, if restructuring of the source code will simplify the implementation of a VSCode in a separate repo, let me know. We can track this in anoth

[2019-03-07 21:30] bampakoa commented on #51
@mgechev thanks for the clarification. Yes, I would definitely be interested on this to help. I think that it would benefit the Angular community :smiley:

[2019-03-08 11:13] bampakoa commented on #51
@mgechev if you could re-open issue to fire up the discussion, that would be great. Thanks!

[2019-03-10 21:35] bampakoa commented on #51
@mgechev we could be inspired by [Angular Console](https://github.com/nrwl/angular-console) repo about the structure. It currently uses [Nx](https://nx.dev/) but I think we could equally incorporate Angular CLI for this.

[2019-05-07 17:43] jkyoutsey commented on #50
Just to add clarity to this issue, ngrev is not processing the tsconfig.json's paths property.
[code]

[2019-05-21 13:40] mamichels opened #52 "Switching to dark mode resets the present layout configuration"
After doing some manual shifting to the diagrams configuration, switching to dark mode will reset it to its default layout. In bigger projects this is very inconvenient since the standard layout sometimes is way to cluttered. Also the option to save the layout for further use would be a great idea.

[2019-05-26 19:08] bampakoa commented on #51
hey @mgechev . Just to let you know that I am currently working to submit an initial version of a PR for this.

[2019-05-27 14:25] vogloblinsky commented on #47
PR available https://github.com/mgechev/ngrev/pull/53 that can may be help you @istiti

[2019-05-27 14:34] vogloblinsky opened #54 "Export miss legend"
When i export a view, it could be fine to add the legend.

[2019-06-04 22:27] davidfirst opened #55 "Is there a programatic API I could use to get the dependencies of a component?"
I'm trying to extract all dependencies of a component (similar to [node-dependency-tree](https://github.com/dependents/node-dependency-tree)), which seems to be a non-trivial task with Angular.
This project seems the closest I can get, however, I need it for a CLI tool.

If there is no such an API, can you point me to the main point where the UI gets the files? I guess I'll be able to take it from

[2019-06-05 13:21] mgechev commented on #55
You can do this with this tool. See ngrev.

[2019-06-05 13:21] #55 closed

[2019-06-05 16:16] davidfirst commented on #55
I'm confused.
"ngrev" is this library, according to the description it's "Graphical tool for reverse engineering of Angular projects".
I need the same but without the graphical interface. Just CLI or some API.
How can I achieve this?

Thanks.

[2019-06-06 11:28] mgechev commented on #55
You can use ngast to build something like ngrev without graphical interface. I mentioned ngrev since you can use it as an example :)

[2019-06-14 16:03] gpsimmo opened #56 "Cannot open ngrev on osx mojave 10.14.5"
after updating to `ngrev-0.0.27.dmg` the app will not open on osx mojave v10.14.5

[2019-06-14 16:16] mgechev commented on #56
Cannot reproduce it on the same macOS version.

[2019-06-14 16:24] mgechev commented on #56
Just reuploaded the assets. Would you try again?

[2019-06-16 08:26] gpsimmo commented on #56
Hey Minko,
i uninstalled and re-installed with new assets. All is working ok now.
many thanks.... awesome work

[2019-06-16 08:26] #56 closed

[2019-06-29 09:50] bampakoa commented on #51
@mgechev I was thinking to use **Nx** for structuring the repo, as in Angular Console, but I have some second thoughts. Let's use Angular CLI projects feature and keep it simple for now.

[2019-06-30 03:51] DmitryEfimenko commented on #49
I can't seem to be able to solve this one. Switching baseUrl to the default './' does not help. Can't really share the code either since it's a project at work :/

[2019-08-16 11:09] sebastien-A256 opened #57 "Error parsing project"
Hi,

I've got the following issue :
[code]

But the AOT compilation is fine. We are using Angular 8.2.
I'm using the latest version of ngrev available for OSX (0.0.27)

Here is tsconfig file and the core.routing file. (file renamed with txt extension for GitHub support)

[tsconfig.txt](https://github.com/mgechev/ngrev/files/3509289/tsconfig.txt)
[core.routing.txt](https://github.com/mgechev/ngrev/

[2019-08-20 13:12] xuxicheta opened #58 "Error parsing with lazy loading modules"
I have routes likes this
[code]
where `@admin` is folder name

And it is cause error

[2019-08-20 16:39] mgechev commented on #58
This, unfortunately, is not supported by the Angular compiler. The Angular CLI rewrites these dynamic imports to string-based `loadChildren` syntax.

I understand it's a bad issue, but there's no way to fix it unless I fork the compiler.

[2019-08-20 16:39] #58 closed

[2019-09-06 05:48] kiranmate commented on #57
Requesting to provide solution for the issue. I am also getting same

[2019-09-09 06:40] AndrewAllison commented on #57
I've just stumbled across this on a project we recently upgraded.

[code]

It looks to be where we have started `using the () => import('../app/')` syntax for lazy loading modules.

[2019-09-09 07:29] sebastien-A256 commented on #57
I can confirm the link between this usage and the issue.

[2019-09-09 14:20] mgechev commented on #57
Here's https://github.com/mgechev/ngrev/issues/58 as a reference.

In the post version 9 release ngrev will not be functional for certain period of time. It'll require rewrite of the parsing library `ngast`. It's not yet clear when I'll be able to prioritize it.

[2019-09-18 21:41] bampakoa commented on #51
@mgechev the application imports Electron artifacts directly from the `electron` package which makes it tightly coupled with the Electron renderer. We could do one of the following to decouple it:

1. Supply a custom provider with `Inject` for every artifact that we import, such as `ipcRenderer` and `remote`, as described [here ](https://angular.io/guide/dependency-injection-in-action#supply-a-cus

[2019-11-05 20:08] josephliccini opened #66 "useFactory with Lambda fails"
Hi Minko,

This tool is awesome! I'm super impressed with how easy it makes it to visualize a complex Angular application.

To get it to work in our app, we had to do some refactoring in a few places where we use the `useFactory` notation.

I think this picture will be more useful than me trying to explain it:
![image](https://user-images.githubusercontent.com/7726025/68242179-ec9e9700-ffc4-11e9-8

[2020-05-09 13:27] Neuroforge commented on #57
Any update on this issue? Would love to use this project but we have an Angular 9 project and the same error above.

[2020-11-17 09:52] evan-boissonnot commented on #57
Got a pretty same error :
[Window Title]
Error

[Main Instruction]
Error while parsing project

[Content]
Cannot parse your project. Make sure it's compatible with the Angular's AoT compiler. Error during parsing:

Could not resolve module @angular/core

My project is on angular 10.

[2020-11-20 14:24] mgechev commented on #57
https://github.com/mgechev/ngrev/issues/57#issuecomment-529498333

[2020-12-30 23:03] mgechev commented on #57
Some good news. Over the past few days I've been working on Ivy support. You can find it [here](https://github.com/mgechev/ngrev/tree/ivy). It's still not trivial to get the app up and running, but make sure you follow this issue for updates.

[2020-12-30 23:04] mgechev commented on #66
There's an ongoing effort to update the app to be compatible with Ivy. As part of this, we'll also fix the problem here. Closing the issue for now.

[2020-12-30 23:04] #66 closed

[2020-12-30 23:05] mgechev commented on #51
Closing for now. If there's progress in the future, please open a PR or another issue.

[2020-12-30 23:05] #51 closed

[2020-12-31 08:53] santoshinmgr commented on #23
Hi,
May i use ngrev for angularJs project.
could any one help me on this.

[2021-01-01 19:46] vik-13 opened #81 "Injectables visualisation"
It would be great to show all relations for selected Injectable.

Many huge projects have a **services** folder, which may contains 100+ shared services...
To refactor that nice to have next features:

- Show all places where it's provided (modules, components...). If it's provided more than one time it helps to understand if it's necessary or not, especially if it's provided in root module and so

[2021-01-03 09:10] mgechev commented on #81
Currently, we have a subset of this - we show an injectable and it's dependencies.

Do you think this makes sense to be part of the global app view? Currently, there we only show all the modules, their dependencies, and declarations. I was thinking that adding providers could be also useful. My only concern is to not have too complicated graph with many overlapping connections.

[2021-01-03 12:12] vik-13 commented on #81
I agree with you, it doesn't make any sense to render everything in one view (Only if you wanna make a tweet about how huge your app is).

Nice to have more views:
 - Modules;
 - Injectables;
 - Components;

 Modules - something similar as we have now with dependencies;
 Injectables - show graph which represents relations between. Usually injectables don't have many relations between themselves, b

[2021-01-05 19:33] mgechev commented on #81
Looks like these are the two new views that are currently missing:

This part will be tricky, so I suggest holding this off. I also don't see a tremendous value here. Maybe open a feature request to keep track of it?

I can see how this could be *very* useful. It's not trivial from UX perspective though. We can:
- Show in which components the given component is used in
- In which modules the compo

[2021-01-05 19:53] vik-13 commented on #81
Sure, I'm gonna create separated feature requests

For some cases I agree with you. F.ex. If you use some date picker component, which has some internal views or so.. But I met examples, when one module declares 20+ components, which are not related with each other.. Then when you want to use one of them you need to import all of them... I don't suggest to show all modules with multiple declaratio

[2021-01-06 13:32] vik-13 opened #84 "feature: component's detail view"
Show where it's declared and where it's used.

Nice to have:
If it's injected in the constructor of child component or used as ViewChild(), some public methods can be called.
In case of planing refactoring would be helpful to see all its API (public methods) which can be used to understand what potentially could be broken.

[2021-01-06 13:38] vik-13 opened #85 "feature: component's view"
Nice to see the structure of components. Perhaps from component as a route and all components which are used in template and so on..It's gonna be something like a tree of components.

It's not really a feature as it was before and should be updated, but let's keep it here in case of some other ideas will appear.

[2021-01-06 13:50] vik-13 opened #86 "feature: additional view with analysed info"
Nice to have additional view, possibly just a list/table:
- show Injectables list which could have more than one instance (f.ex. we can check if injectable is provided in root module, lazy-loaded module or component. In most cases injectables, which are provided in components shouldn't be provided in modules);
- show components, which are declarated more than in one place;
- highlight components w

[2021-01-06 13:54] vik-13 opened #87 "bug: show libs option doesn't work in module view"
In main view option show libs works fine and hide libs if you don't want to see, but if you dblclick on certain module and open module view, all libs always are shown.

[2021-01-06 13:56] vik-13 opened #88 "feature: change colour of libs modules"
Nice to show libs with another colour to recognise it easily.

[2021-01-08 08:29] vik-13 opened #91 "feature(module view): show modules where the selected module is imported"
It helps during refactoring and chunk size optimisation.
Would be great to see where the module is imported in case of:
- it has providers;
- it has many declarations and in some lazy-loaded module is used only one of them;
- it's imported but not used anymore in that place or imported accidentally;

The main view contains similar info but it doesn't useful if it has 150+ nodes and 300+ edges (onl

[2021-01-11 02:34] mgechev opened #92 "Add support for template visualization"

[2021-01-13 05:43] mgechev opened #101 "Broken build"
The app binaries produced by `yarn electron:build` do not work.

[2021-01-13 10:50] vik-13 commented on #101
Here is the quick fix:
https://github.com/mgechev/ngrev/pull/102

It's not optimal build process. I think would be great to have shared dest folder for both build processes. Currently electron app is compiled into src and both angular app and electron app duplicates assets.

[2021-01-13 11:25] vik-13 commented on #101
There is another issue:
/release/angular-electron.dmg - It cannot load the project..just loader animation is shown all the time.
/release/mac/angular-electron works fine for me.

I suppose some options are missed..

[2021-01-13 16:32] vik-13 commented on #101
Looks like if you open the app outside the release/mac folder the child_process cannot resolve dependencies correctly..

[2021-01-14 01:48] #92 closed

[2021-01-14 01:49] mgechev commented on #101
I agree.

[2021-01-14 03:28] mgechev commented on #101
Ideally we don't want to disable asar, but this seems to be the only option. I don't think it'll impact the performance significantly for such a small app.

[2021-01-14 03:32] mgechev opened #106 "Duplicated application root module"
On the image below, the `DevToolsModule` and its declaration appears twice on the diagram. @vik-13 would you want to have a look?

<img width="1552" alt="Screen Shot 2021-01-13 at 7 31 23 PM" src="https://user-
images.githubusercontent.com/455023/104541217-f9117d00-55d5-11eb-99d6-4ecefb35d909.png">

[2021-01-14 10:02] vik-13 commented on #106
Looks weird to me, I haven't met such behaviour. I suppose it relates to the parsed app, some specific DevToolsModule initialisation or so. I will check why it could happen.

[2021-01-14 20:56] vik-13 commented on #106
Well, I've spent some time to check the possible ways to see such picture.
I cannot reproduce it even if I try very strange things in the test app.
By the code:
It doesn't look like there is way of two nodes with same id can be created and even that vis throw an error.
Edge like A -> A also is not a case.
It looks like the second module is a copy of first with different path imported into first on

[2021-01-14 21:07] vik-13 commented on #101
Yes, I also haven't found another solution...

[2021-01-14 22:38] #101 closed

[2021-01-14 22:40] mgechev commented on #106
Thanks for looking into this! I'll check if I can still reproduce it and see what's going wrong.

[2021-01-14 22:52] vik-13 commented on #106
Your welcome!
By the way, by looking this issue I noticed that you have implemented Trie there and it's not used. And I thought it would be great to have some data structure (maybe just a graph) for all project which helps us to search nodes much easily.
F.ex. Currently for getting list of modules and components where injectable is provided need to go through all modules and components.

I think i

[2021-02-04 08:54] pcouas opened #124 "basic question angularJS and JSP"
Hi,

I need to rewrite an old site with JSP that contains in fact HTML angularJS 1.3 pages.
Theses HTML pages include in JSP file call AngularJS controller.
Each JSP page could include many sub JSP pages
Could this tool help me ?

Regards
Phil

[2021-03-11 08:51] mhamri opened #127 "can't parse nx app"
![image](https://user-images.githubusercontent.com/8991783/110759152-433a7600-8288-11eb-97d0-bd9c234a13c0.png)

the aot is already enabled in our repo

![image](https://user-images.githubusercontent.com/8991783/110759290-682ee900-8288-11eb-9d54-9f7a3b42f39e.png)

it's nx project and I point to the tsconfig.app.json that is shown in the picture.

[2021-04-27 00:24] mgechev commented on #127
Unfortunately, the project does not support nx. We'd love to get a contribution though. Closing for now, but if anyone wants to take the initiative and publish support, I'll be happy to review and merge.

[2021-04-27 00:24] #127 closed

[2021-04-27 00:25] #124 closed

[2021-05-25 08:46] plungarini opened #133 "Support - I cannot understand how it's working."
Hello there, I've a corrupted html file. It seems that due to an unexpected crash of Visual Studio Code, the html file just decided to go off. "Luckly" i had the build version up and running on Firebase Hosting. I downloaded it, but it's obviously built and compiled. I found ngrev and I was thinking that thanks to this, I could have been able to find the html code from the compiled file, but inste

[2021-05-29 17:05] albanx opened #136 "Cannot drag vertically"
This is amazing, gives you the idea of the full application structure.

On Mac there is an issue, All modules are in the same line and all components. When I try to drag it drags only horizontally

https://user-images.githubusercontent.com/1130664/120078658-65ce7500-c0a8-11eb-8a7a-6df5f4969f04.mov

[2021-07-15 16:00] #133 closed

[2021-07-26 17:05] P4 opened #140 "error parsing dependencies if a service has an inherited constructor."
I was trying to use the tool on my project, sadly it errors out on a random service with a rather unhelpful error message:
![image](https://user-images.githubusercontent.com/969645/127028141-3370bbc3-80e2-4824-a0fc-0ce83da18076.png)

More useful info from the terminal:
[code]

The service that fails in the real project does not have its own constructor, instead it uses the constructor from its bas

[2022-05-31 04:56] vsha041 opened #159 "Error while parsing project for Angular 12 App"
Our app is using Angular 12 and when I choose the tsconfig.app.json and it gives me following error. Is there a way to get more information about the error message? Is it expecting something that it did not encounter in the tsconfig.app.json file? or somewhere in the codebase?

This is how the tsconfig.app.json file looks like. And I am running ngrev-0.0.35.exe from my Downloads folder on Windows.

[2022-09-17 19:23] mp54214 commented on #159
I face the same issue, any solution coming to this?

[2022-09-17 23:04] vsha041 commented on #159
I gave up on this tool. Instead I am using the angular extension for chrome. It's very good but only works for local run of the code.

https://chrome.google.com/webstore/detail/angular-devtools/ienfalfjdbdpebioblfackkekamfmbnh

[2022-09-18 12:31] mp54214 commented on #159
Yes, I know angular-devtools, and it is great - but still ngrev is also useful for its illustrative graphical way of presenting a project structure. Hopefully authors find time to fix this.